.blog {
    /* 创建一个BFC */
    overflow: hidden;
    .left-content {
        width: 200px;
        height: 800px;
        background: #087567;
        float: left;
    }
    .right-content {
        width: 100%;
        height: 800px;
        background: #b7d31c;
    }
}